*{
    margin: 0;
}

img{
    height: 250px;
    width: 100%;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
    margin: 0px;
}

#first{
    margin-top: -170px;
    font-size: 25px;
}

#second{
    margin-top: -120px;
}

#third{
    margin-top: -100px;
}

#fourth{
    margin-top: -50px;
}

#center{
    text-align: center;
}
ion-button{
    align-items: center;
    width: 300px;
    text-align: center;
    margin-top: 50px;
}