<ion-header>
  <ion-toolbar class="hero">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/events"></ion-back-button>
    </ion-buttons>
    <ion-title>Event finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="event">
    <img [src]=" event.images[5].url" />

    <ion-card-header>
      <ion-card-title>{{ event.name }}</ion-card-title>
      <ion-card-subtitle>{{ event.dates.start.localDate }}</ion-card-subtitle>
      <ion-card-subtitle
        >{{ event.dates.start.localTime | time :[5]}}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label
          >{{ event._embedded.venues[0].address.line1 }}, {{
          event._embedded.venues[0].city.name }}</ion-label
        >
      </ion-item>

      <ion-item>
        <ion-icon name="ticket-outline"></ion-icon>
        <ion-label>Tickets From {{ event.priceRanges[1].min }} €</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="heart-circle-outline"></ion-icon>
        <ion-label> {{ event.classifications[0].genre.name }} </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div id="center">
    <ion-button (click)="openHomepage()" *ngIf="event?.url"
      >Buy tickets</ion-button
    >
  </div>
  <!-- <ion-button
    expand="full"
    (click)="openHomepage()"
    *ngIf="event?._embedded.venues[0].url"
  >
    <ion-icon name="open-outline" slot="start"></ion-icon>
    Open Homepage
  </ion-button> -->
</ion-content>
