<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Favourites</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Search</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>My profile</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="hero">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Event finder</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<p>Filter Events</p>

<ion-searchbar
  placeholder='Search for an event'
  [(ngModel)]="searchTerm!"
  showCancelButton="focus"
  animated>
</ion-searchbar>

<div class="holder">
  <p>All upcoming events</p>
  <div class="wrapper">
    <div
      class="item"
      *ngFor="let item of events | filter:searchTerm!"
      [routerLink]="[item.id]"
    >
      <img [src]=" item.images[0].url" />

      <ion-card-content
        >{{item.name}}, <br />
        {{item.dates.start.localDate}}</ion-card-content
      >
    </div>
  </div>
</div>

<div class="holder" id="music">
  <p>Music Events</p>
  <div class="wrapper">
    <div class="item" *ngFor="let item of music | filter:searchTerm!" [routerLink]="[item.id]">
      <img [src]=" item.images[0].url" />
      <ion-card-content
        >{{item.name}}, <br />
        {{item.dates.start.localDate}}</ion-card-content
      >
    </div>
  </div>
</div>

<div class="holder">
  <p>Sport Events</p>
  <div class="wrapper">
    <div class="item" *ngFor="let item of sport | filter:searchTerm!" [routerLink]="[item.id]">
      <img [src]=" item.images[0].url" />
      <ion-card-content
        >{{item.name}}, <br />
        {{item.dates.start.localDate}}</ion-card-content
      >
    </div>
  </div>
</div>

<div class="holder">
  <p>Art Events</p>
  <div class="wrapper">
    <div class="item" *ngFor="let item of art | filter:searchTerm!" [routerLink]="[item.id]">
      <img [src]=" item.images[0].url" />
      <ion-card-content
        >{{item.name}}, <br />
        {{item.dates.start.localDate}}</ion-card-content
      >
    </div>
  </div>
</div>

</ion-content>
