<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>Filter Events</h2>
<h3>Event Type</h3>

<input type="checkbox" id="" name="type1" value="Music">
<label for="type1"> Music</label><br>
<input type="checkbox" id="type2" name="vehicle2" value="ArtTheatre">
<label for="type2"> Arts & Theatre</label><br>
<input type="checkbox" id="type3" name="vehicle3" value="Sports">
<label for="type3"> Sports</label><br>

<h3>City</h3>

<select name="cities" id="cities">
  <option value="" disabled selected>Choose a city</option>
  <option value="helsinki">Helsinki</option>
  <option value="tampere">Tampere</option>
  <option value="muu">Muu</option>
</select>

<h3>Date</h3>
<input type="date" id="date">

<br>

<button type="button">Search</button>
</ion-content>
